* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: green;
}


.gamer-bons-block-1,
.gamer-bons-block-2 {
	height: 160px;
	border: 1px solid #000;
}

#table-bons-block {
	height: 200px;
	overflow-x: auto;
}


/* === gamers bones === */
.gamer-bones {
	float: left;
	width: 100%;
}

#bazar_bone,
.gamer-bones ul li {
	float: left;
	margin: 20px 5px;
	min-height: 100px;
	width: 60px;
	color: #FFF;
	list-style: none;
	background-color: #000;
	border: 1px solid #FFF;
	cursor: pointer;
}

.gamer-bones ul li .r,
.gamer-bones ul li .l {
	padding: 10px 0;
	height: 60px;
	text-align: center;
	font-size: 30px;
	border-bottom: 1px solid #FFF;
}

.gamer-bones ul li .r {
	border-bottom: none;
}

.gamer-bons-block-2 {
	width: 100%;
}

/* ================ table ================ */

#table {
	float: left;
    width: 80%;
    min-height: 100px;
    border-right: 1px solid #000;
    box-sizing: border-box;
}

#table ul li {
	float: left;
	margin: 20px 5px;
	width: 122px;
	height: 60px;
	color: #FFF;
	list-style: none;
	background-color: #000;
	border: 1px solid #FFF;
	cursor: pointer;
	box-sizing: border-box;
}

#table ul li .r,
#table ul li .l {
	float: left;
	width: 60px;
	height: 100%;
	padding: 10px 0;
	text-align: center;
	font-size: 30px;
	box-sizing: border-box;
}

#table ul li .l {
	border-right: 1px solid #FFF;
	box-sizing: border-box;
}	


#bazar {
	float: left;
    width: 20%;
    min-height: 100px;
}

#gamer-bons-block-2 ul li:nth-child(1) {
	display: none !important;
}

.access-bone {
	color: green !important;
}

.go-on-bazar {
	padding-top: 40px;
	font-size: 16px;
	text-align: center;
	border-color: red !important;

}
