* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: green;
}


.gamer-bons-block-1,
.gamer-bons-block-2 {
	height: 160px;
	border: 1px solid #000;
}

#table-bons-block {
	height: 200px;
	overflow-x: auto;
}

/* ===  bones === */
.gamer-bones ul li {
	float: left;
	margin: 20px 5px;
	height: 120px;
	width: 60px;
	color: #FFF;
	list-style: none;
	background-color: #000;
	border: 1px solid #FFF;
}

.gamer-bones ul li .r,
.gamer-bones ul li .l {
	padding: 10px 0;
	height: 60px;
	text-align: center;
	font-size: 30px;
	border-bottom: 1px solid #FFF;
}

.gamer-bones ul li .r {
	border-bottom: none;
}
